<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/footer.css">
<link rel="stylesheet" href="/nav.css">
<link rel="stylesheet" href="/edit-product.css">
<style>
    nav .header .login{
        position: absolute;
        right: 2%;
        text-decoration: none;
        color: white;
        top: 25%;
}

.products form img{
    display: none;
    width: 10%;
    position: relative;
    left: 45%;
}
#img-icon-close{
    display: none;
}
</style>

  <link rel="stylesheet" href="./css/edit-product.css">
</head>

<body id="body">
    <%- include('../includes/navigation.ejs')%>
<div class="products">
    <h1><% if (editing) { %>Edit Product <%} else { %>Add Product<% } %></h1>


    <form action="/upload?_csrf=<%= csrfToken%>" method="POST" enctype="multipart/form-data" >
        <input type="file" name="image" accept="image/*">
        <button type="submit">upload</button>
    </form>    

    <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
        <label for=""> Product Category</label>
        <select type="text" name="category" id="category" value="<% if (editing) { %><%= product.category %><% } %>">
            <option value="men">Men</option>
            <option value="women">Women</option>
            <option value="kids">Kids</option>
        </select>
        <label for=""> Product Name</label>
        <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">

        
        <label for=""> Product Image Front <i class="fa-regular fa-image" id="img-icon" onclick="showImg()"></i><i class="fa-regular fa-image" id="img-icon-close" onclick="hideImg()"></i></label>
        <% if (editing) { %>  <img src="/<%= product.imageUrlFront %>" alt="" id="img"> <% } %>
        <input type="text" name="imageUrlFront" id="imageUrl" value="<% if (editing) { %><%= product.imageUrlFront %><% } %>">
      
        <label for=""> Product Image Back</label>
        <input type="text" name="imageUrlBack" id="imageUrl" value="<% if (editing) { %><%= product.imageUrlBack %><% } %>">
        <label for=""> Product Price</label>
        <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
        <label for=""> Product Description</label>
        <textarea name="description" id="description" rows="5"><% if (editing) { %><%= product.description %><% } %></textarea>
        <label for=""> Product Details</label>
        <textarea name="details" id="details" rows="5"><% if (editing) { %><%= product.details %><% } %></textarea>
        <% if (editing) { %>
            <input type="hidden" value="<%= product._id %>" name="productId">
        <% } %>
        <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>">

    </form>

</div>
       
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
    
    <script>
        var img = document.getElementById('img');
        var imgIcon = document.getElementById('img-icon');
        var imgIconClose = document.getElementById('img-icon-close') 
        const showImg = ()=>{
            if(imgIcon){
                img.style.display='block';
                imgIcon.style.display='none';
                imgIconClose.style.display='inline'
            }
        }
        const hideImg = ()=>{
            if(imgIconClose){
                img.style.display='none';
                imgIconClose.style.display='none';
                imgIcon.style.display='inline'
            }
        }
    </script>
            <%- include('../includes/footer.ejs')%>
        
  </body>
</html>